* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.hd {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png) ;
    background-repeat: no-repeat;
    background-position: bottom right, left ;
}
/* header and navigation style  */

   
nav {

    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 20px 35px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;

}

.banner-title {

    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 45px;

}

.banner-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
    margin-top: 5px;
    
}

.banner-des {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;


}

/* main */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about */


.about{
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-des{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;


}

.section-title{
 text-align: center;
 margin-bottom: 30px;
}

.about-info-comtainer{
 display: flex;
 justify-content: space-around;
}

.about-info{
    


}
.info-d{
    font-size: 20px;
    color: #757575;


}
.info-dp{
    font-size: 20px;
    color: #474747;



}



